.main-container {
  padding: clamp(8px, 5vh, 24px) clamp(16px, 7vw, 48px);
  display: grid;
  gap: 16px;
  grid-auto-flow: column;
  justify-content: end;
}

.button {
  all: unset;
  cursor: pointer;

  a {
    display: block;
    padding: 12px 24px;
    border-radius: 8px;
    text-decoration: none;
    color: black;
  }

  &.button__signUp {
    a {
      background-color: black;
      color: white;
    }
  }

  &.button__signIn {
    background-color: transparent;
  }
}
