<main class="container">
  <div class="header">
    <h1>Get into your account</h1>
  </div>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="input__item">
      <label for="email">Email:</label>
      <input type="text" name="email" id="email" formControlName="email" />
      <p class="errorMessage" [ngClass]="validationByField('email') && 'error'">
        {{ validationByField("email") }}
      </p>
    </div>
    <div class="input__item">
      <label for="password">Password:</label>
      <input
        type="password"
        name="password"
        id="password"
        formControlName="password"
      />
      <p
        class="errorMessage"
        [ngClass]="validationByField('password') && 'error'"
      >
        {{ validationByField("password") }}
      </p>
    </div>

    <button type="submit">Sign in</button>
  </form>
</main>
